<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="NarrowItDownController as narrowList">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="narrowList.term">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowList.search(narrowList.term)">Narrow It Down For Me!</button>
      </div>
      <div class="found-list-container">
        <found-items
          found="narrowList.found"
          on-remove="narrowList.removeItem(index)"></found-items>
      </div>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script src="./src/app.js"></script>
  </body>
</html>
