body,
a h4 {
  font-family: 'Kaushan Script', sans-serif;
}
header {
  margin-bottom: 5em;
}
h1 {
  margin-bottom: 30px;
  font-family: 'Permanent Marker', sans-serif;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
.loader {
  display: none;
  margin-left: 5px;
  font-size: 10px;
  float: left;
  border-top: 1.1em solid rgba(147, 147, 147, 0.2);
  border-right: 1.1em solid rgba(147, 147, 147, 0.2);
  border-bottom: 1.1em solid rgba(147, 147, 147, 0.2);
  border-left: 1.1em solid #676767;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.attr-name {
  font-weight: bold;
}
.found-list-container {
  clear: both;
}
.found-list {
  list-style-type: none;
  padding-left: 0;
}
.found-list li {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.alert {
  font-weight: bold;
  color: red;
}
.container h1 {
  text-align: center;
  font-style: italic;
}
.categories-container {
  width: 700px;
  max-width: 700px;
  margin-right: 1em;
}
.items-container,
.categories-container {
  float: left;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
