<div id="main-content" class="container">
  <div class="user-info" ng-if="userInfoCtrl.detailInfo !== null">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(key, field) in userInfoCtrl.detailInfo">
        <span ng-show="!$last"><span class="capitalize key-for-option">{{key}}</span>: {{field}}</span>
        <p ng-show="$last"><span class="key-for-option">Dish name</span>: {{field.name}}</p>
        <p ng-show="$last"><span class="key-for-option">Description</span>: {{field.description}}</p>
        <img ng-show="$last" ng-src="{{userInfoCtrl.apiPath}}/images/{{field.short_name}}.jpg" alt="">
      </li>
    </ul>
  </div>
  <div class="alert" ng-if="userInfoCtrl.detailInfo === null">
    <div class="alert alert-danger" role="alert">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
  </div>
</div>
